/* This must be the first line of the custom.css with other import rules */
@import url("https://cdn.jsdelivr.net/gh/pengx17/logseq-dev-theme@main/custom.css");

/* You can also add other styles below to override the default theme values */

b, strong {
    color: #b32a2a;
    font-weight: 600;
}

a.tag {
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    cursor: pointer;
    color: #8079e9;
    /* opacity: var(--ls-tag-text-opacity,.8); */
}

a {
    cursor: pointer;
    color: #720505;
    text-decoration: none;
}

.page-ref {
    color: #33a0e1;
}

:root {
    --ct-text-size: 16px;
    --ct-line-height: 1.6;
    --ls-font-family: "LXGWWenKai-Regular", "LXGWWenKai-Bold", "LXGWWenKaiMono-Bold", sans-serif;
    --ct-page-title-font-family: var(--ls-font-family);
    --ct-code-font-family: "Fira Code", monospace;